
{% extends 'core/base.html'%}
{% block title %}Contactos{% endblock%} 
{% block background %}{% load static%}{% static 'core/img/playas.jpg' %}{% endblock %}

{% block headers %} 
    <h1>MAS INFORMACIÓN</h1>
    <span class="subheading">VISITA NUESTRAS REDES SOCIALES</span>
   
{% endblock %} 

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-10 mx-auto">
        <a href="https://www.facebook.com/turismoestuarioportoviejo">Facebook</a>
        <a href="https://www.biocorredor.com/">Biocorredor</a>
      </div>
    </div>
  </div>
{% endblock%}

